body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  color: blueviolet;
}

.grid-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 240px;
}
.card {
  background-size: cover;
  display: grid;
  place-items: center;
}
.card-tall {
  grid-row: span 2 / auto;
}
.card-wide {
  grid-column: span 2 / auto;
}
.cat {
  grid-row: span 4 / auto;
}
.cat1 {
  grid-row: span 4 / auto;
  grid-column: span 2 / auto;
}
.cat6 {
  grid-row: span 4 / auto;
}
